<main>
  <h1>{{cubeDetails.name}}</h1>
  <img class="cube" src="{{cubeDetails.imageUrl}}">
  <div class="details">
    <p><span>Description:</span>{{cubeDetails.description}}</p>
    <p><span>Difficulty level:</span>{{cubeDetails.difficultyLevel}}</p>
    <a class="btn" href="/">Back</a>
    {{#if isCreator}}
    <a class="btn" href="/cubes/{{cubeDetails._id}}/attach-accessory">Attach accessory</a>
    <a class="btn" href="/cubes/{{cubeDetails._id}}/edit-cube">Edit</a>
    <a class="btn" href="/cubes/{{cubeDetails._id}}/delete-cube">Delete</a>
    {{/if}}
  </div>
  {{#if cubeDetails.accessories}}
  <h2>Accessories</h2>
  <div class="accessories">
    {{#each cubeDetails.accessories}}
    <div class="accessory">
      <img src="{{imageUrl}}" alt="stickerName">
      <h3>{{name}}</h3>
      <p>{{description}}</p>
    </div>
    {{/each}}
    {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
  </div>
  {{/if}}

</main>